@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
    
}

.light-mode{
  --bg-color:#fff;
  --text-color:#121720;
  --hover-color:blue;
  --span-color:blue;
  --box-shadow:0 0 3rem blue;
  --sec-box-shd: 7px 7px 10px blue;
  --sm-box-shad:0 0 1rem blue;
  --dark:#efefef;
  --d-white:#121720;
  --sec-bg:#ababab;
}



:root{
  --bg-color:rgb(12, 9, 9);
  --text-color:#fff;
  --hover-color:cyan;
  --span-color:cyan;
  --box-shadow:0 0 3rem cyan;
  --sec-box-shd: 7px 7px 10px cyan;
  --sm-box-shad:0 0 1rem cyan;
  --dark:#424448;
  --d-white:#ababab;
  --sec-bg:#1c3031;
}
html{
    scroll-behavior: smooth;
}
#about{
  background: var(--sec-bg);
}
#services{
  background: var(--sec-bg);
}
#contacts{
  background: var(--sec-bg);
}
#contact{
  background: var(--dark);
}
body{
    background: var(--bg-color);
    color: var(--text-color);

}
nav{
    
   
    font-weight: 500;
    font-size: 20px;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top .3s;
}
nav ul .show{
  transition: top .3s;
}
nav ul li{
    display: inline-block;
    padding: 5px 10px;
    
}
nav ul li a{
    color: var(--text-color);
    transition: .3s ease;
    
    

}
nav ul li a:hover{
    color: var(--hover-color);
    
    
    
}
nav ul li a.active{
    color: var(--span-color);
    
}
#close-menu{
  display: none;
  font-size: 30px;
}
#moon{
  display: none;
  position: absolute;
  right: 5%;
  top: 25px;
  font-size: 30px;
  transition: .2s ease-in;
  cursor: pointer;
}
#moon:hover{
  color: var(--hover-color);
  transform: rotate(180deg); 
}
#sun{
  position: absolute;
  right: 5%;
  top: 25px;
  font-size: 30px;
  transition: .2s  ease-in;
  cursor: pointer;
}
#sun:hover{
  color: gold;
  transform: rotate(180deg); 
}


.logo{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;

}
span{
    color: var(--span-color);
}

#btn{
  font-size: 30px;
  
  color: var(--span-color);
  display: none;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}


section{
    padding: 10px 10%;
    height: 100vh;
    width:100%;
    

}
#Home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    font-size: 24px;
    
    
   
}
.header-txt{
  flex-basis: 50%;
  
  width: 70%;
}
.header-txt p{
  font-size: 18px;
  font-weight: 400;
  color: var(--);
  margin-top: 10px;
  color: var(--d-white);
}
.header-txt h4{
  margin-bottom: 0%;
}
.header-img img{
    width: 100%;
    flex-basis: 50%;
    height: 400px;
    width:450px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    animation: floatImage 4s ease-in-out infinite;
    cursor: pointer;
    
    
}
.social-acc{
  display: flex;
  gap: 3%;
  font-size: 18px;
  font-weight: 200;

  margin-top: 10px;
}
.social-acc label{
  color: var(--d-white) ;
  font-weight: 400;
}
.download a{
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
}

@keyframes floatImage {
  0%{
     transform: translateY(0);
  }
  50%{
    transform: translateY(-2.4rem)
  }
  100%{
    transform: translateY(0)
  }
  
}
.homeft i{
  text-decoration: none;
  color: var(--span-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 2.5rem;
  margin-top: 20px;
  transition: .3s ease-in;
  
}
.homeft i:hover{
  transform: translateY(-10px);
}
.btn-all{
  text-decoration: none;
  padding: 8px 10px;
  background: var(--span-color);
  color: var(--bg-color);
  font-size: 16px;
  border-radius: 20px;
  transition: .2s ease;
  margin-top: 10px;
  box-shadow: 0 0 3px var(--span-color);
  font-weight: 600px;
}
.btn-all:hover{
  box-shadow: 0 0 10px var(--span-color);
  background: var(--bg-color);
  color: var(--text-color);

}

div .box-icons i{
  margin-top: 10px;
  border: 3px solid;
  border-radius: 50%;
  padding:  5px 10px;
  color: var(--text-color);
  border-color: var(--span-color);
  margin-right: 10px;
  display: inline-block;
  transition: .3s ease;
  box-shadow:var(--sm-box-shad)
}
div .box-icons i:hover{
  color: var(--bg-color);
  background: var(--span-color);
  border-color: none;
  box-shadow: var(--sm-box-shad);
}
div .box-icons .cv{
  color: var(--text-color);
  border-radius: 10px;
  border: 3px solid;
  border-color: var(--span-color);
  padding: 5px 10px;
  transition: .3s ease;
}
div .box-icons .cv:hover{
  color: var(--bg-color);
  background: var(--span-color);
  box-shadow: 0 0 1rem var(--span-color);
  

}
div .box-icons .resume{
  color: var(--bg-color);
  border-radius: 10px;
  border: 3px solid;
  padding: 5px 10px;
  transition: .3s ease;
  background: var(--hover-color);
  
}
div .box-icons .resume.resume:hover{
  color: var(--text-color);
  background: var(--bg-color);
  box-shadow: var(--sm-box-shad);
  border-color: var(--span-color);
  
}

div .box-icons p{
    font-size: 1em;
}

.cv a{
 padding: 5px 20px;
 padding-left: 0%;
}

.content{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0; 
    padding: 0 10px;
    
}
.col-1 {
  width: 100%;
}
.col-1 img{
    border-radius: 10px;
    width: 80%;
    box-shadow: 10px 10px 10px var(--span-color);
    height: 28vw;

}
summary{
  color: var(--hover-color);
  cursor: pointer;
  font-size: 18px;
}
.col-2 {
line-height: 35px;
background: none;
border-radius: 10px;
padding: 20px;
}
.col-2 p{
  font-size: 18px;
}
.col-2 .let-me{
  font-weight: 100;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 5px;
  margin-top: 0;
}

section#skills {
    background: transparent;
    padding: 10px 10%;
  }
  
  section#skills h2 {
    margin-bottom: 20px;
  }
  
  section#skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section#skills li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  section#skills li span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    background-color: var(--text-color);
    border-radius: 20px;
    height: 20px;
    position: relative;
  }
  
  .progress {
    border-radius: 20px;
    height: 20px;
    background-color: var(--hover-color);
    position: absolute;
    top: 0;
    left: 0;
}

.skills-1{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5%;
}

#skills-a{
 text-align: center;
 margin: 10% 0;
 font-size: 27px;
}
.work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5%;
   
    padding: 5px 10px;
}
.work div{
   background: var(--dark);
   padding: 20px 20px;
   border-radius: 10px;
   transition: .3s ease;

   
}
.work div:hover{
  border: 1px solid;
  border-color: var(--span-color);
  transform: translateY(-10px);
}
.work div i{

    font-size:4rem;
    
    border-radius: 50%;
    padding: 20px;
    border: 2px solid;
    border-color: var(--span-color);
    background: var(--bg-color);
    margin-bottom: 7px;
}
.work div h2{
    padding-top: none;
}

.my-serv{
    text-align: center;
    margin-top: 9%;
    margin-bottom: 20px;
    font-size: 27px;
}
.filter-container {
    margin-bottom: 20px;
  }
  
  .filter-container label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .filter-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .work-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    margin-top: 20px;
   
  }
  
  .work-item {
    position: relative;
    opacity: 0.8;
    background-color: var(--dark);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
  }
 
  .work-item h3 {
    margin-top: 0;
  }
  
  .category {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--hover-color);
    color: var(--bg-color);
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
  }
  .wrks{
    margin-top: 0%;
  }

  #contact {
  margin-top: 15%;  
  padding: 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  border-color: var(--hover-color);
  width: 100%;
}

#contact h2 {
  margin-top: 0;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
  border-color: var(--hover-color);
}

#contact label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#contact input,
#contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--text-color);
}

#contact button[type="submit"] {
  background-color: var(--hover-color);
  color: var(--bg-color);
  border: none;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}
.container{
  justify-content: center;
}
footer {
  font-size: 14px;
}
.col-md-6 col-sm-6 text-md-right text-center ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-light {
  color: var(--text-color) !important;
}

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline-item a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.list-inline-item a:hover {
  color: #007bff;
}
.icon i{
  margin-left: 15px;
  margin-top: 30px;
  border: 3px solid;
  border-radius: 50%;
  padding:  5px 10px;
  color: var(--hover-color);
  border-color: var(--hover-color);
  margin-right: 10px;
  display: inline-block;
  transition: .3s ease;

}
.icon i:hover{
  color: var(--text-color);
  background: none;
  border-color: none;
  box-shadow: 0 0 1rem var(--hover-color);
}



/*-------------------------------parallax---------------------------------*/


.scroll-scale{
  opacity: 0;
  transform: scale(.9);
  transition: all 2s;
}

.scroll-bottom{
  opacity: 0;
  transform: translateX(300px);
  transition: 3s;
}
.scroll-bottom.show-items{
  opacity: 1;
  transform: translateX(0);
}
.scroll-bottom{
  opacity: 0;
  transform: translateX(-300px);
  transition: 3s;
}



.show-items{
  opacity: 1;
  transform: translateX(0);
}

.grid-item i{
  text-decoration: none;
  color: var(--hover-color);
  font-size: 1.3rem;
  margin-right: 10px;
  transition: .3s ease-in;
  
}
.grid-item i:hover{
  color: var(--text-color);
  

}


@media (max-width: 768px) {
  
  #btn {
    display: block;
    transition: all .3s ease; 
  }
  nav{
    background: var(--dark);
  }

  #close-menu{
    display: block;
  }
  nav ul{
    background: var(--dark);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 90px ;
    z-index: 2;
    
    transition: .3s right ease;
  }
  

  
  .navlist li{
    display: block;
    margin: 25px;
  }

  #sun , #moon{
   position: absolute;
   top: 50px;
   right: 135px;
  }
  
 
  body{
    font-size: 16px;
  }
  .header-txt{
    flex-basis: 100%;
  }

 
  section{
    padding: 10px 3%;
    height: 120vh;
  }
  
  .logo{
    font-size: 25px;
    
  }
 
  
  /*
  nav ul {
    display: none;
  }
  
 
  nav ul.show {
    display: flex;
    flex-direction: column;
    
    height: 60vh;
    width: 100%;
    
    
    
  }
  

  nav ul li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  */
  
}
/*--------------Media Query------------------*/
@media (max-width: 768px) {
  #Home{
    display: flex;
    flex-wrap: wrap;
    grid-gap:5rem;
    font-size: 17px;
    padding: 10px 2%;
    
  }
  .header-txt{
    margin-top: 10%;
    

  }

 
  .content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    font-size: 14px;
  }
  .col-1 img{
    margin-top: none;
    padding-top: none;
    height: 202px;
    width: 202px;
    margin-left: 35px;
  
  }
  .col-2 {
    line-height:none;
    background: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    }
    .col-2 h2{
      text-align: center;
    }
    .col-2 a{
      align-items: center;
    }
    .skills-1{
      margin: 0;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 10px;
      
  }
  section#skills {
    background-color: var(--bg-color);
    padding: 0 10%;
  
  }
  
  section#skills h2 {
    margin-bottom: 0;
  }
  section#skills li span {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  section#skills li {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  .footer-con{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

}
@media(max-width: 768px) {
  .work{
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    font-size: 14px;
    flex-wrap: wrap;
  }
  .work a{
   border: none;
}
#skills-a{
  
  margin-top: 2%;
}
  




.work div i{
  font-size: 4rem;
  padding: 20px;
}
.work div{
  padding: 5px 10px;
}
.work-items{
  display: flex;
  
  grid-gap: 20px;
  font-size: 14px;
  flex-wrap: wrap;
  
}

.work-item img{
  height: 202px; 
  width: 100%;
}
.grid-container{

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap:20px;
  font-size: 14px;
}
.filter-container label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

.skills-a{
  font-size: 14px;
}
#contact{
  margin-top: 110%;
  padding-top: 0;
}

}

/*------------Phone-Size--------------*/
@media (max-width: 480px) {
  section{
    height: 120vh;
  }
  nav{
    padding: 10px 3%;
  }
  
  .header-img img{
    flex-basis: 100%;
    width: 350px;
    height: 300px;
    margin-left: 10px;
    
  }
  .header-txt{
    margin-top: 3%;
  }
  .content{
    margin-top: 2%;
  }
  #skills-a{
  
    margin-top: 2%;
  }
  .my-serv{
    margin-top: 2%;
}
  
  .homeft{
    display: none;
  }
  .col-1 img{
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--span-color); 
    width: 300px;
    height: 230px;
    margin-bottom: 10px;

}
.my-serv{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 20px;
  font-size: 27px;
}
.content{
  margin-top: 3%;
}
}



/*-----------------------------PARALLAXX-----------------------------------*/

/*
.bg1{
  height: 100vh;
  width: 100%;
  background-image: url(img/bg.gif);
  background-position: center;
  background-attachment: fixed;
  background-size:  cover;
  
}
/*
.bg2{
  height: 100vh;
  width: 100%;
  background-image: url(img/ian-1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size:  cover;
  
}
.bg3{
  height: 100vh;
  width: 100%;
  background-image: url(img/bg3.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size:  cover;
}
*/








 




   

   

  
